
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <br />
    <br />
    <div class="alert alert-success">
        <h2>Thank you</h2>
        <p>Thank you for your purchase.</p>
    </div>

</div>

