@{
    ViewBag.Title = "Fituous";
}

<div class="jumbotron" ng-controller="mainController">
    <h1>Fituous</h1>
    <p class="lead">Health and Fitness, done best.</p>
    <p><a href="http://www.fituous.com" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Subscription Payments</h2>
        <p>Become the best version of yourself, join today and get body of your dreams and develop a strong mind.</p>
        <p>@Html.ActionLink("Details", "Index", "Subscription", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>